.navbar-custom {
    background-color: white;
    border-color: rgb(242, 76, 39);
    font-family: 'DejaVu Sans';

}

.nav.navbar-nav a {
    color: rgb(242, 76, 39);
}

.active{
/*    background-image: linear-gradient(white, whitesmoke);*/
    background-color: whitesmoke;
    font-weight:bolder;
}

.navbar-brand{
    font-family: 'DejaVu Sans Light';
    color: black;
    position: fixed:
}

.icon-bar {
    color: rgb(242, 76, 39);
    border-color: rgb(242, 76, 39);
    background-color: rgb(242, 76, 39);
}




h1 a {
    font-family: 'DejaVu Sans Light';
    color: rgb(19, 19, 19);
    text-decoration: none;
}

h1 a:hover {
    font-weight:bolder;
}

.intro_bild {
    margin-top: 40px;
    margin-bottom: 60px;
    opacity: 0.3;
}

.lead {
    font-family: 'DejaVu Sans Light';
    color: rgb(19, 19, 19);
    text-decoration: none;
    font-size: 24px;
}

p {
    font-family: 'DejaVu Sans';
    color: rgb(19, 19, 19);
    font-size: 16px;
}

.inhalt {
    margin-top: 80px;
}

.h2 a {
    font-family: 'DejaVu Sans';
    color: rgb(242, 76, 39);
    margin-bottom: 20px;
}

.h2 {
    font-family: 'DejaVu Sans';
    color: rgb(242, 76, 39);
    margin-bottom: 20px;
 /*   border-style: solid;
    border-color: rgb(19, 19, 19);*/
}

.h2:hover {
    font-weight:bolder;
}

.h6 {
    font-family: 'DejaVu Sans';
    color: black;
    margin-bottom: 50px;
}

.h4 {
    font-family: 'DejaVu Sans Light';
    color: black;
    margin-bottom: 50px;
    line-height: 1.8;
}

.h4 a{
    font-family: 'DejaVu Sans Light';
    color: black;
    margin-bottom: 50px;
    line-height: 1.8;
}

.profilbild_image {
    border-radius: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.container{
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
}

.license {
    margin-top: 120px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    font-family: 'DejaVu Sans';
    font-size: 10px;
    color: black;
}

.license a{
    color: black;
}





.bild_impressum {
    border-radius: 20px;
    margin-bottom: 20px;
}

.artikel-metadata {
    margin-top: 20px;
}

.artikelbild {
    margin-top: 20px;
    margin-bottom: 10px;
}

.bilunterschrift {
    margin-bottom: 20px;
}